<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
        <div class="page-title">
            <h3>Edit an article</h3>
        </div>
    </div>
</div>

<%= render 'form', enable_back_button: true%>