<div class="container" id="index_page">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-xs-center page-title">List of Articles</h3>
        </div>
    </div>

    <%= render "article", obj: @articles %>

</div>
