$layout-header-bg-color: rgb(33,33,33) !default;
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/grid";
@import "bootstrap/buttons";
@import "bootstrap/animation";
@import "bootstrap/card";
@import "bootstrap/alert";
@import "bootstrap/close";
@import "bootstrap/utilities";
@import "bootstrap/images";
@import 'material';

a {
    text-decoration: none!important;
}

body {
    background-color: #263238;
}

textarea.mdl-textfield__input {
    height: 120px;
    max-width: 100%;
    resize: vertical;
}

#alert-message {
    margin-top: 25px;
}

#index_page {
    padding-top: 40px;
}

#user-card {
    min-height: 80px;
    padding-top: 35px;
    position: relative;
    display: flex;
    overflow: visible;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#user-card .img-circle {
    width: 120px;
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -60px;
}

#user-card .mdl-card__title {
    justify-content: center;
    align-items: center;

    & h5 {
        margin: 0;
    }

}

.btn-danger {
    background-color: #d9534f!important;
    color: #fff!important;
}

.card-home,
.card-form {
    width: 100%;
}

.card-home > .mdl-card__title {
  color: #fff;
  height: 306px;
  background: url(gn-newyork.png) center / cover;
}

.mdl-card {
    min-height: 0;
    max-width: 100%;
    width: 100%;
}

.mdl-card__title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & .mdl-card__title-text {
        align-self: flex-start;
    }
}

.mdl-layout__drawer-button {
    margin: 5px 12px;
}

.mdl-textfield {
    width: 100%;
}

.page-title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

// Row and column vertical spacing.

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.row-grid + .row-grid {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
